.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 95vw;
    height: 95vh;
    gap: 10px;
}

#text-box-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2 ;
}

#start-page {
    height: 50%;
    width: 100%;
}

#goal-page {
    height: 50%;
    width: 100%;
}

#start-button {
    grid-column: 2;
    grid-row: 1;
}

#player-screen {
    grid-column: 1 / 2;
    grid-row: 2 / 6;
}

#ai-screen {
    grid-column: 2 / 3;
    grid-row: 2 / 6;
}

.screen {
    width: 100%;
    height: 100%;
}
